.secRowMain{
    width: 100vw;
    padding: 5rem 0rem 0rem 6rem;

}
.secContainer{
    display: flex;
    gap: 3rem;

}
.firstContainer{
    width: 40%;
    padding: 1rem;
    
}
.head{
    display: flex;
    text-align: center;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
}
.head i{
    color: rgb(65, 63, 63);
}
.secondContainer{
    background-color: rgb(239, 243, 247);
   width: 40%;
   padding: 1rem 5rem;
   align-items: center;justify-content:center ;
 
    
}
.talentRow{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    font-size: .8rem;

   
}
.talentRow img{
height: 4rem;
width: 4rem;
border-radius: 50%;
object-fit: cover;
}
.talentMain{
padding: 1rem 0rem;
    display: flex;
    gap:0rem 8rem;
   flex-wrap: wrap;
   
  
}
.secondContainer button{
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: green;
    color: white;
}
@media (max-width: 768px) {
    .secRowMain{
        width: 100vw;
        padding: .5rem;
    
    }
    .secContainer{
        display: flex;
        gap: 1rem;
        flex-direction: column;
    
    }
    .firstContainer{
        width: 90%;
        padding: .5rem;
        align-items: center;
        text-align: center;
        
    }
    .firstContainer h1{
        font-size: 1.5rem;
    }
 
    .secondContainer{
       
       width: 95%;
       padding: 0rem;
    ;
  
        
    }
    .talentRow{
       
        font-size: .8rem;
    
       
    }
    .talentRow img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
    }
    .talentMain{
 
        display: flex;
        gap:0rem 2rem;
     
       
      
    }
    .secondContainer button{
        padding: 1rem 5rem;
      
        margin-left: 4rem;
    }
}