.higlightMain{
    background-color: rgb(239, 243, 247);
padding: 1rem 3rem 4rem 2rem;


}

.HighlightCard{
    height: 10rem;
    width: 13rem;
  align-items: center;
  text-align: center;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  
}
.HighlightCard img{
    height: 70%;
    width: 100%;
    border-radius: 0rem;
    object-fit: cover;
}
.HighlightCard p{
    font-size: .8rem;
}
.rowsContainer2{
    padding: 1rem 1rem 0rem;
    
}
.higlightMain h3{
    font-size: 2rem;
    padding: 0rem 1rem;
   
}
.rowCards2{
padding: 1rem;
align-items: center;
    display: flex;
    gap: 2rem;
    overflow: scroll;
    flex-wrap: nowrap;
}
@media (max-width: 800px){
    .higlightMain{
        background-color: rgb(239, 243, 247);
    padding: .1rem 1rem 1rem .1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    .HighlightCard{
        height: 10rem;
        width: 15rem;
       
      align-items: center;
      text-align: center;
        border-radius: .5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
        
      
    }
    .HighlightCard img{
        height: 70%;
        width: 100%;
        border-radius: 0rem;
    }
    .HighlightCard p{
        font-size: .6em;
    }
    .rowsContainer2{
        padding: 1rem 1rem 0rem;
        
    }
    .higlightMain h3{
        font-size: 1.5rem;
        padding: 0rem 1rem;
       
    }
    .rowCards2{
     
        display: flex;
        gap: 1rem;
    
    }
}
@media (max-width: 400px){
    .higlightMain{
      
    padding: 0rem;
    
    
    }
    
    .HighlightCard{
      
        min-width: 8rem;
      
      
    }
    .HighlightCard img{
        height: 70%;
        width: 100%;
        border-radius: 0rem;
    }
    .HighlightCard p{
        font-size: .6rem;
    }
    .rowsContainer2{
        padding: 0rem .5rem;
        
    }
    .higlightMain h3{
        font-size: 1.5rem;
     
       
    }
    .rowCards2{

        gap: .5rem;
        overflow: scroll;
     
        padding: 0rem 0rem 1rem .5rem;
    }
}